<div class="">
    <div class="caption">
        <h2>contact section</h2>
        <app-starline [class.text-white]="false"></app-starline>
    </div>
    <div class="container w-50 mt-5 mb-5">
        <input type="text" placeholder="UserName:" class="form-control py-2 px-3 my-4">
        <input type="text" placeholder="UserAge:" class="form-control py-2 px-3 my-4">
        <input type="email" placeholder="UserEmail:" class="form-control py-2 px-3 my-4">
        <input type="password" placeholder="Password:" class="form-control py-2 px-3 my-4">
        <button class="btn btn-info mb-5">send message</button>
    </div>

</div>