<div class="">
    <div class="caption">
        <h2>portfolio component</h2>
        <app-starline [class.text-white]="false"></app-starline>
    </div>
    <div class="container">
        <div class="row gx-5 gy-5 mb-5">

            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="poert1.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>
            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="port2.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>
            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="port3.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>
            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="poert1.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>
            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="port2.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>
            <div class="main col-md-4">
                <div class="position-relative">
                    <img src="port3.png" class="w-100 rounded-3" alt="">
                    <div class="screen plus"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="ligthbox">
        <div class="ligthbox-item d-none">

        </div>
    </div>

</div>