<div class="my-bg1 container-fluid ">
    <div class="mata row justify-content-center text-white pt-5 text-center pb-5">

        <div class="col-md-4">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>

        <div class="col-md-4">
            <h3>AROUND THE WEB</h3>
            <div class="d-flex justify-content-center">
                <div class="cir ">
                    <a href="#"><i class="fa-brands fa-facebook text-white"></i></a>
                </div>
                <div class="cir ">
                    <a href="#"><i class="fa-brands fa-twitter text-white"></i></a>
                </div>
                <div class="cir ">
                    <a href="#"><i class="fa-brands fa-linkedin text-white"></i></a>
                </div>
                <div class="cir ">
                    <a href="#"><i class="fa-solid fa-globe text-white"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>

    </div>
</div>
<div class="my-bg2 text-white text-center py-3 w-100">
    <p>Copyright © Your Website 2024</p>
</div>